/*****************************************************************************/
/*
/* Reset
/*
/*****************************************************************************/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

h1 {
	margin-bottom: 1em;
}

p {
	margin: 1em 0;
}

/*****************************************************************************/
/*
/* General
/*
/*****************************************************************************/

html {
	background-color: #f5f5f5;
}

body {
	background-color: #ffffff;
	font-size: 1.25em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	color: #0ea311;
	text-decoration: none;
	-webkit-transition: color 0.5s ease-in-out;
}

a:visited {
	color: #0ea311;
}

a:hover {
	color: #10c413;
}

img {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	display: block;
	clear: both;
}

h1, h2, h3 {
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
}

ul {
	margin: 1em 0;
}

ul li {
	margin-bottom: 0.5em;
}

hr {
	height: 1px;
	border: none;
	border-top: 1px solid #cccccc;
}

pre, code {
	font-family: 'Monaco', monospace;
	font-size: 0.9em;
	background-color: #f1f1f1;
	border: 1px solid #cccccc;
	padding: 0 4px;
}

blockquote {
	border-left: 8px solid #cccccc;
	padding: 8px 8px 8px 16px;
	background-color: #f1f1f1;
}

blockquote p {
	margin: 0;
}

div#masthead {
	background-color: #f5f5f5;
	border-bottom: 1px solid #cccccc;
}

h1#site-name {
	padding: 16px 0 0 0;
	margin: 0;
	text-align: center;
}

div#navigation {
	text-align: center;
	width: 640px;
	border-bottom: 1px solid #cccccc;
	margin: 0 auto 24px auto;
	padding: 16px 0;
}

div#navigation ul {
	width: 640px;
	margin: 0 auto;
	list-style-type: none;
}

div#navigation ul li {
	display: inline;
	margin: 0 8px;
}

div.content {
	line-height: 1.4em;
}

div#posts {
	width: 640px;
	margin: 0 auto;
}

div#posts article {
	margin-top: 24px;
}

span.link-arrow {
	color: #999999;
	font-size: 0.85em;
}

span.post-date {
	color: #999999;
	font-size: 0.85em;
}

div.content {
	padding-bottom: 4px;
	border-bottom: 1px solid #cccccc;
}

div.highlight {
	overflow: scroll;
	border: 1px solid #cccccc;
	padding: 8px;
	background: #f1f1f1;
}

div.highlight pre, div.highlight code {
	border: none;
	padding: 0;
}

div#pagination {
	padding-top: 24px;
	clear: both;
}

div#older-posts {
	float: left;
	padding-bottom: 24px;
}

div#newer-posts {
	float: right;
	padding-bottom: 24px;
}

div#footer {
	clear: both;
	background-color: #f5f5f5;
	text-align: center;
	border-top: 1px solid #cccccc;
	font-size: 0.8em;
	padding-bottom: 0.4em;
	margin-top: 24px;
}

div#footer p {
	margin: 0.4em 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

div.share {
	text-align: center;
	width: 640px;
	margin: 24px auto 0 auto;
}

/*****************************************************************************/
/*
/* Archive
/*
/*****************************************************************************/

div#archive h2 {
	margin: 0.8em 0 0.5em 0;
	padding-top: 0.8em;
	border-top: 1px solid #cccccc;
}

div#archive p {
	margin: 0 0 0.8em 0;
}

div#archive span.date {
	color: #999999;
	font-size: 0.85em;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

div.contact-methods {
	text-align: center;
	width: 640px;
	margin: 1.5em 0;
}

div#about h3 {
	margin-top: 1em;
}

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/

div#projects {
	overflow: auto; /* clearfix */
}

div#projects div.project {
	width: 200px;
	background: purple;
	float: left;
	text-align: center;
	margin: 20px 0;
}

div#projects div.project.middle {
	margin: 20px;
}

div#projects div.project img {
	width: 128px;
	height: 128px;
}

div#projects h3 {
	clear: both;
}

/*****************************************************************************/
/*
/* Bigfoot Footnotes
/*
/*****************************************************************************/

.footnote-button {
    border-radius: 1em;
    text-align: center;
    font-size: 1.1em;
    -webkit-font-smoothing: antialiased;
}

.footnote-content-wrapper p {
	margin: 0;
}

/*****************************************************************************/
/*
/* Share/About Buttons
/*
/*****************************************************************************/

a.share-icon {
    display: inline-block;
    background-color: transparent;
    box-sizing: content-box;
    box-shadow: none;
    padding: 1px;
    line-height: normal;
    border-radius: 50%;
    border: 2px solid #a2a2a2;
    width: 28px !important;
    height: 28px !important;
    background-size: 144px 72px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/icons/share.svg")
}

a.share-icon:hover {
    background-color: #a2a2a2
}

a.share-icon.twitter {
    background-position: -3px -3px
}

a.share-icon.twitter:hover {
    background-color: #00aced;
    background-position: -3px -39px;
    border-color: #0075a1;
    border-color: #00aced
}

a.share-icon.facebook {
    background-position: -39px -2px
}

a.share-icon.facebook:hover {
    background-color: #3B5998;
    background-position: -39px -38px;
    border-color: #1e2d4d;
    border-color: #3B5998
}

a.share-icon.googleplus {
    background-position: -75px -3px
}

a.share-icon.googleplus:hover {
    background-color: #d34836;
    background-position: -75px -39px;
    border-color: #872e23;
    border-color: #d34836
}

a.share-icon.email {
    background-position: -111px -3px
}

a.share-icon.email:hover {
    background-color: #5e9eda;
    background-position: -111px -39px;
    border-color: #3a6287;
    border-color: #5e9eda
}

a.share-icon.linkedin, a.share-icon.appnet, a.share-icon.amazon,
a.share-icon.flattr, a.share-icon.dropbox, a.share-icon.github,
a.share-icon.flickr, a.share-icon.appstore, a.share-icon.rss, a.share-icon.youtube,
a.share-icon.delicious {
    background-image: url("/icons/about.svg");
    background-size: 216px 144px
}

a.share-icon.linkedin {
    background-position: -2px -3px
}

a.share-icon.linkedin:hover {
    background-color: #5080ba;
    background-position: -2px -75px;
    border-color: #35547a;
    border-color: #5080ba
}

a.share-icon.appnet {
    background-position: -74px -4px
}

a.share-icon.appnet:hover {
    background-color: #49484d;
    background-position: -74px -76px;
    border-color: #2a224d;
    border-color: #49484d
}

a.share-icon.amazon {
    background-position: -110px -3px
}

a.share-icon.amazon:hover {
    background-color: #e79e23;
    background-position: -110px -75px;
    border-color: #825a14;
    border-color: #e79e23
}

a.share-icon.flattr {
    background-position: -146px -3px
}

a.share-icon.flattr:hover {
    background-color: #7eb226;
    background-position: -146px -75px;
    border-color: #4a6916;
    border-color: #7eb226
}

a.share-icon.dropbox {
    background-position: -182px -2px
}

a.share-icon.dropbox:hover {
    background-color: #4f78e3;
    background-position: -182px -74px;
    border-color: #2e4785;
    border-color: #4f78e3
}

a.share-icon.github {
    background-position: -2px -38px
}

a.share-icon.github:hover {
    background-color: #000000;
    background-position: -2px -110px;
    border-color: #50717d;
    border-color: #000000
}

a.share-icon.flickr {
    background-position: -37px -39px
}

a.share-icon.flickr:hover {
    background-color: #ff0084;
    background-position: -37px -111px;
    border-color: #4058d9;
    border-color: #ff0084
}

a.share-icon.appstore {
    background-position: -74px -40px
}

a.share-icon.appstore:hover {
    background-color: #77a9e5;
    background-position: -74px -112px;
    border-color: #2f42a8;
    border-color: #77a9e5
}

a.share-icon.rss {
    background-position: -110px -39px
}

a.share-icon.rss:hover {
    background-color: #f60;
    background-position: -110px -111px;
    border-color: #874c1c;
    border-color: #f60
}

a.share-icon.youtube {
    background-position: -146px -39px
}

a.share-icon.youtube:hover {
    background-color: #bc272f;
    background-position: -146px -111px;
    border-color: #000000;
    border-color: #bc272f
}

a.share-icon.delicious {
    background-position: -182px -38px
}

a.share-icon.delicious:hover {
    background-color: #6793fc;
    background-position: -182px -110px;
    border-color: #666;
    border-color: #6793fc
}

/*****************************************************************************/
/*
/* Medium-sized screens
/*
/*****************************************************************************/

@media (max-width: 680px) {
	div#navigation {
		width: 500px;
	}

	div#navigation ul {
		width: 500px;
	}

	div#posts {
		width: 500px;
	}

	div.share {
		width: 500px;
	}
}

/*****************************************************************************/
/*
/* iPhone-sized screens
/*
/*****************************************************************************/

@media (max-width: 520px) {
	div#navigation {
		width: 300px;
	}

	div#navigation ul {
		width: 300px;
	}

	div#posts {
		width: 300px;
	}

	div.share {
		width: 300px;
	}
}
