---
layout: page
title: "Projects"
description: "Josh Asch's projects, past and present."
---

<p>These are all my projects, past and present. There's a separate <a href="/projects/atom.xml">RSS feed</a> for projects.</p>

<div id="projects">
	{% for post in site.posts %}
	{% if post.type == "project" %}
	<div class="project">
		<img class="icon" src="{{ post.icon }}" />
		<p class="name"><a href="{{ post.link }}">{{ post.name }}</a></p>
		<p class="meta">{{ post.meta }}</p>
		<p class="description">{{ post.description }}</p>
	</div>
	{% endif %}
	{% endfor %}
</div>
