---
layout: default
---

			{% for post in paginator.posts %}
				<article>
					<div class="post-header">
						<h2 class="post-title"><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}</h2>
						<span class="post-date">{% if post.link %}<a href={{ post.url }} title="Permalink">{% endif %}{{ post.date | date: "%B %e, %Y"}}{% if post.link %}</a>{% endif %}</span>
					</div><!-- .post-header -->

					<div class="content">
						{% capture footnote_id %}footnote:{{ post.date | date: '%Y%m%d' }}{% endcapture %}
						{% capture footnote_ref_id %}footnoteref:{{ post.date | date: '%Y%m%d' }}{% endcapture %}
						{{ post.content | split: "<!-- more -->" | first | replace: "fn:", footnote_id | replace: "fnref:", footnote_ref_id }}
						{% if post.content contains "<!-- more -->" %}<p><a href="{{ post.url }}">Read the rest &rarr;</a></p>{% endif %}
					</div><!-- .post-content -->
				</article>
			{% endfor %}
			{% if paginator.total_pages > 1 %}
				<div id="pagination">
					<div id="older-posts">{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">&larr; Older Posts</a>{% endif %}</div>
					<div id="newer-posts">{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Newer Posts &rarr;</a>{% endif %}</div>
				</div><!-- #pagination -->
			{% endif %}
