---
layout: default
---

			{% for post in paginator.posts %}
				<article>
					<div class="post-header">
						<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
						<span class="post-date">{% if post.updated %}Last updated {{ post.updated | date: "%B %e, %Y"}}{% else %}{{ post.date | date: "%B %e, %Y"}}{% endif %}</span>
					</div><!-- .post-header -->
					
					<div class="content">
						{% capture footnote_id %}footnote:{{ post.date | date: '%Y%m%d' }}{% endcapture %}
						{% capture footnote_ref_id %}footnoteref:{{ post.date | date: '%Y%m%d' }}{% endcapture %}
						{{ post.content | replace: "fn:", footnote_id | replace: "fnref:", footnote_ref_id }}
					</div><!-- .post-content -->
				</article>
			{% endfor %}
				{% if paginator.total_pages > 1 %}
				<div id="pagination">
					<div id="older-posts">{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">&larr; Older Posts</a>{% endif %}</div>
					<div id="newer-posts">{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Newer Posts &rarr;</a>{% endif %}</div>
				</div><!-- #pagination -->
				{% endif %}