.collapse-sidebar #content {
	margin-right:0
}

body #content>div>article {
	padding-left: 20%;
	padding-right: 20%;
}

article img {
	margin: 0 auto;
	text-align: center;
	display: block;
	clear: both;
}

body>footer {
	margin-bottom: 0;
}

.prev-post, .next-post {
	max-width: 40%;
}

.next-post {
	text-align: right;
}

a {
	color: #0a930c;
}

a:visited {
	color: #0a930c;
}

a:hover {
	color: #10c413;
}

#content .blog-index article h1 a:hover {
	color: #10c413;
}

#blog-archives h1 a:hover {
	color: #10c413;
}

#content .blog-index a[rel=full-article]:hover {
	background-color: #10c413;
}

.footnote-button {
    border-radius: 1.3em !important;
    width: 1.3em !important;
    text-align: center !important;
    height: 1.3em !important;
    top: -0.25em !important;
    font-size: 0.75em !important;
    padding: 0.75em 1.5em 0.75em 0 !important;
    -webkit-font-smoothing: antialiased;
}