.collapse-sidebar #content {
	margin-right:0
}

body #content>div>article {
	padding-left: 250px;
	padding-right: 250px;
}

article img {
	margin: 0 auto;
	text-align: center;
	display: block;
	clear: both;
}

body>footer {
	margin-bottom: 0;
}

.prev-post, .next-post {
	max-width: 40%;
}

.next-post {
	text-align: right;
}

a {
	color: #0a930c;
}

a:visited {
	color: #0a930c;
}

a:hover {
	color: #10c413;
}

.entry-title a:hover {
	color: #10c413;
}