<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.name }}</title>
        
        <meta name="author" content="{{ site.author }}" />
        {% capture description %}{% if page.url == '/index.html' %}{{ site.description }}{% else %}{{ page.excerpt }}{% endif %}{% endcapture %}
		<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:155 }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
		<link rel="shortcut icon" href="/icons/favicon.png" />
		<link rel="apple-touch-icon-precomposed" href="/icons/apple-touch-icon.png" />
		
		<script type="text/javascript" src="/javascript/jquery.min.js"></script>
		<script type="text/javascript" src="/javascript/bigfoot.js"></script>
		<script type="text/javascript">
			$.bigfoot();
		</script>
    </head>
    
    <body>
		<div id="wrapper">
			<div id="header">
				<div id="masthead">
					<a href="/">
						<img id="logo" src="/icons/logo.png" width="128" height="128" />
						{% if page.url == '/index.html' %}<h1 id="site-name">{{ site.name }}</h1>{% else %}<span id="site-name">{{ site.name }}</span>{% endif %}
					</a>
				</div><!-- #masthead -->
				
				<div id="navigation">
					<ul>
						<li><a href="/about">About</a></li>
						<li><a href="/archive">Archive</a></li>
					</ul>
				</div><!-- #navigation -->
			</div><!-- #header -->
			
			<div id="content">
				{{ content }}
			</div><!-- #content -->
			
			<div id="footer">
				<p><a href="http://twitter.com/{{ site.twitter_handle }}">@{{ site.twitter_handle }}</a> • <a href="/archive">Archive</a> • <a href="/atom.xml">RSS</a></p>
				<p>&copy; 2010–{{ site.time | date: "%Y" }} <a href="/about">{{ site.author }}</a></p>
			</div><!-- #footer -->
		</div><!-- #wrapper -->
	</body>
</html>
