---
layout: default
---
				<article class="single">
					<div class="post-header">
						<h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
						<span class="post-date">{{ page.date | date: "%B %e, %Y"}}</span>
					</div><!-- .post-header -->
					
					<div class="content">
						{{ content }}
					</div><!-- .post-content -->
					
					<div class="share">
						<a href="https://twitter.com/intent/tweet?url={{ site.url | uri_encode }}{{ page.url | uri_encode }}&text={{ page.title | uri_encode }}%20by%20@{{ site.twitter_handle }}" title="Share on Twitter" class="share-icon twitter"></a>
						<a onclick="sharePage('{{ site.url }}{{ page.url }}');" title="Share on Facebook" class="share-icon facebook"></a>
						<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" class="share-icon googleplus"></a>
					</div>
				</article>